# Default ignored files
/shelf/

/workspace.xml
# Datasource local storage ignored files
/venv/Scripts
/venv/Lib
/venv/Include
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
